.signup{
  background-color: #E8ECEF;
  min-height: 30%;
  max-height: 60%;
  max-width: 100%;
  align-content: center;
  z-index: 1000;
  position: absolute;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 60px;
}
