div.signup
  h1 Login
  mat-divider
  form([formGroup]='loginForm' novalidate)
    div
      .row
        .col-6.form-format
          mat-label.mat-label USER NAME:
          mat-label.mat-label PASSWORD:
        .col-6.form-format
          mat-form-field.mat-labels
            input.form-control(matInput, formControlName='userName')
          mat-form-field.mat-labels
            input.form-control(matInput, formControlName='password')
    mat-divider
    button.save-button(mat-raised-button, (click)= 'onSave()', [routerLink]= '["/user/profile"]',
      [ngClass]="{'disabled': loginForm.invalid, 'signedup': loginForm.valid}") Login
    button.save-button(mat-raised-button, [routerLink]= '["/register"]') Cancel
