@import "~@angular/material/prebuilt-themes/indigo-pink.css";


mat-label {
  margin-bottom: 20px;
  margin-left: 10px;
}

mat-form-field{
  padding-bottom: 0px;

}

form{
  padding: 10px;
  background-color: #E8ECEF;
}

.mat-form-field-wrapper {
  padding-bottom: 3px;
  margin-top: -13px;
}

mat-cell{
  outline: thin solid;
  padding-left: 15px;
  align-content: center;
}

mat-header-cell {
  outline: thin solid;
  padding-left: 15px;
  align-content: center;
}

mat-table {
  outline: thin solid;
  padding: 1px;
  align-content: center;
}
