div.divide(*ngIf=!'signedup')
  img(src='assets/images/rednblack.jpg')
  div.signup
    h1 REGISTER
    mat-divider
    form([formGroup]='userForm' novalidate)
      div
        .row
          .col-6.form-format
            mat-label.mat-label Name:
            mat-label.mat-label EMAIL:
            mat-label.mat-label MOBILE NO:
            mat-label.mat-label USER NAME:
          .col-6.form-format
            mat-form-field.mat-labels
              input(matInput, formControlName='name')
            mat-form-field.mat-labels
              input(matInput, formControlName='email')
            mat-form-field.mat-labels
              input(matInput, formControlName='mobileNo')
            mat-form-field.mat-labels
              input(matInput, formControlName='userName')
      mat-divider
      button.save-button(mat-raised-button, (click)= 'onSave()', [routerLink]='["/login/profile"]') Sign Up
router-outlet
