h1 This is the wallet application
h2 Here you can add balance to your wallet, withdraw them, and can even transfer money to some other wallet
h2 This is going to be the most user-friendly wallet ever made in the history of tech-kind.
