div.signup
  h1 REGISTER
  mat-divider
  form([formGroup]='userForm' novalidate)
    div
      .row
        .col-3.form-format
          mat-label.mat-label Name:
          mat-label.mat-label EMAIL:
          mat-label.mat-label MOBILE NO:
          mat-label.mat-label USER NAME:
          mat-label.mat-label PASSWORD:
        .col-9.form-format
          mat-form-field.mat-labels
            input.form-control(matInput, formControlName='name')
          div(*ngIf= "submitted && userForm.controls['name'].errors")
            h4 Name of the user should be of atleast 3 Characters.
          mat-form-field.mat-labels
            input.form-control(matInput, formControlName='email')
          mat-form-field.mat-labels
            input.form-control(matInput, formControlName='mobileNo')
          mat-form-field.mat-labels
            input.form-control(matInput, formControlName='userName')
          mat-form-field.mat-labels
            input.form-control(matInput, formControlName='password')
    mat-divider
    button.save-button.signedup(mat-raised-button, (click)= 'onSave()') Sign Up
    button.save-button(mat-raised-button, [routerLink]= '["/login"]') Login
